	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="theanurin">
	<meta property="og:url" content="[{{ buildPublicUrl | required }}]({{ buildPublicUrl | required }}/en-GB/cv/)">
	<meta property="og:title" content="{{ title | required }}">
	<meta property="og:description" content="">
	<meta property="og:image" content="{{ buildPublicUrl | required }}/assets/images/avatar.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="[{{ buildPublicUrl | required }}]({{ buildPublicUrl | required }}/en-GB/cv/)">
	<meta property="twitter:title" content="{{ title | required }}">
	<meta property="twitter:description" content="">
	<meta property="twitter:image" content="{{ buildPublicUrl | required }}/assets/images/avatar.jpg">
