.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.invisible {
    visibility: hidden;
}
.hidden{
    display: none;
}
.hidden-xs-up {
    display: none!important;
}

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none!important;
    }
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none!important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none!important;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none!important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none!important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none!important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none;
    }
}

.hidden-xl-down {
    display: none;
}


.switcher__item {
    position: relative;
    white-space: nowrap;
    transition: 0.3s;
    cursor: pointer;
}

.switcher__visible {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    color: var(--nrw-color-white);
    border: 1px solid transparent;
    transition: all 0.3s;
}

.switcher__visible:hover {
    color: var(--nrw-link-additional-color);
}

.switcher__link:hover {
    text-decoration: none;
    color: var(--nrw-link-additional-color);
}

.switcher__name {
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.switcher__name_top {
    width: 100%;
}

.switcher__hidden {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    left: -12px;
    padding: 8px 0;
    position: absolute;
    top: 100%;
    width: auto;
    transition: 0.5s;
    z-index: 10;
}

.switcher__language .switcher__hidden {
    left: -1px;
}

.switcher__item:hover .switcher__hidden, .switcher__item:active .switcher__hidden {
    visibility: visible;
    opacity: 1;
    transform: translate(8px, 5px);
    z-index: 10;
    padding: 5px;
}

.switcher__item:last-child .switcher__hidden, .switcher__item:active .switcher__hidden {
    left: inherit;
    right: 0;
}

.switcher__link {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: var(--body-text);
    text-decoration: none;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
    border: none;
    width: 100%;
    background: none;
}

.switcher__link.active {
    text-decoration: none;
    color: var(--basic-company);
    border-radius: 4px;
    background: var(--nrw-link-additional-color);
}

.switcher__visible img, .switcher__link img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    max-width: 20px;
    margin-right: 4px;
}


