.projects {
	.title {
		@include header;
	}

	.project {
		margin-bottom: 20px;

		.link-title {
			@include body-text;
		}

		.no-link-title {
			@include body-text;
		}

		.description {
			@include body-text;
		}

		.role {
			@include sub-header;
		}

		.company {
			@include body-text;
			font-weight: bold;

			.time {
				float: right;
				color: var(--fg-color-title-sm);
				font-weight: 100;
			}
		}

		.sdk {
			@include body-text;
		}

		.tool {
			@include body-text;
		}
	}
}
